/* week list */

.c-list {
  display:flex;
  flex-flow:column;

  @media (min-width:769px) {
    flex-flow:row;
  }

  .c-list__item {
    border:1px solid #dedede;
    text-align:center;
    margin-top:10px;
    flex:1;

    @media (min-width:769px) {
      margin:0 0 0 10px;
    }

    &:first-child {
      margin:0;
    }

    .c-list__item-header {
      background-color:#dedede;
      padding:10px;
    }

    .c-list__item-body {
      padding:20px 10px;
    }
  }
}
